.card{
    color:black;
}

.card:hover{
    transform: scale(1.02, 1.02);
}

.card-type-1{
    background-color: #6D4CC7;
}

.card-type-2{
    background-color: #571EF0;
}

.card-img{
    max-width: 50vh;
    max-height: 50vh;
}